:host, html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: var(--font-geist-sans);
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
html, body { height: 100%; margin: 0; }

@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMono/028c0d39d2e8f589-s.p.woff2") format("woff2");
  font-weight: 400; /* daca nu e corect, schimbi cu 500 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMono/028c0d39d2e8f589-s.p.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.try-it-out-page {
  font-family: "GeistMono", ui-monospace, "SFMono-Regular", "Roboto Mono",
    Menlo, Monaco, "Liberation Mono", "DejaVu Sans Mono", "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
}

.max-w-md {
    max-width: 28rem;
}


/* culori lipsă */
.try-it-out-page .text-success-700 { color: #047857; }
.try-it-out-page .bg-success-50 { background-color: #ecfdf5; }
.try-it-out-page .border-success-200 { border-color: #a7f3d0; }

.try-it-out-page .bg-warning-50 { background-color: #fffbeb; }
.try-it-out-page .border-warning-200 { border-color: #fde68a; }

.try-it-out-page .text-primary-foreground { color: #fff; }


/* src/styles/try-it-out.css */
/* se aplică DOAR pe pagina asta, fiind importat doar în try-it-out.astro */
.try-it-out-page {
  /* dacă vrei font doar aici: */
  font-family: "GeistMono", ui-monospace, SFMono-Regular, "Roboto Mono", Menlo, Monaco, "Liberation Mono",
    "DejaVu Sans Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
}

.integration-img div{
  min-width: 104px
}
.content-assessment{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4rem
}
/* #fitBar{
  display: none!important
} */
/* .hidden{
  display: none
} */

#fitBar{
  max-width: 448px
}

@media (max-width: 1250px) {
  body.try-it-out-page {
    overflow: inherit;
  }
}
